<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="EducationTests">

    <test name="SauceDemoPositiveLoginTest" allow-return-values="true">
        <classes>
            <class name="tests.SauceDemoPositiveLoginTest" />
        </classes>
    </test>

    <test name="PA_BusinessProcess_11549" allow-return-values="true">
        <classes>
            <class name="tests.YoutubeTest" />
        </classes>
    </test>
</suite>
